<h2 id="login_title">Log in to your account</h2>
<div id="login-redirect-signup">
    <p>Don't have an account?</p>
    <a href="/api/views/signup">Sign up</a>
</div>

<div id="div_form">
    <form action="/api/sessions/login" method="post">
    Email: <input id="form_line" type="email" name="email" id="email">
    <br>
    Password: <input id="form_line" type="password" name="password" id="password">
    <br>
    <input id="signup_button" type="submit" value="Login">
    </form>
</div>
